@model Instart.Models.Recruit
@{
    ViewBag.Title = "Recruit";
}

<!--banner展示图-->
@Html.Partial("PartialBanner", Instart.Models.Enums.EnumBannerPos.Recruit)
<div class="maincont">
    <!--招贤纳士-->
    <div class="title">
        <h2>招贤纳士</h2>
    </div>
    <div class="borderkuan">
        <!--Instart XXXX-->
        <div class="inlist">
            <h2>加入我们</h2>
        </div>
        <div class="inconts">
            @Html.Raw(Model.JoinUs)
        </div>
        <!--在聘职位-->
        <div class="inlist">
            <h2>在聘职位</h2>
        </div>
        <div class="inconts">
            @Html.Raw(Model.Positions)
        </div>
        <!--联系方式-->
        <div class="inlist">
            <h2>联系方式</h2>
        </div>
        <div class="inconts">
            @Html.Raw(Model.Contacts)
        </div>
    </div>
</div>

