<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>一沙国际创意教育</title>
    <meta http-equiv="keywords" content="作品集培训,留学服务,英国排名,美国排名,专业排名,产品设计,家具设计,服务设计,工业设计,交互设计,交通工具设计,建筑设计,室内设计,景观设计,城市规划设计,展示设计,服装设计,珠宝设计,时尚管理,时尚配饰,时尚造型,纺织品设计,平面设计,视觉,广告设计,纯艺术,绘画,影视,摄影,插画,动画,游戏,舞台,帕森斯设计学院,中央圣马丁艺术与设计学院,罗德岛设计学院,伦敦艺术大学,皇家艺术学院,日本武藏野美术大学" />
    <meta http-equiv="description" content="杭州一沙创意留学（简称INSTART）是一家专注于艺术，设计，传媒和创意产业留学咨询规划的教育机构。提供专业的创意艺术留学规划和作品集培训服务，帮助申请者认识自己，激发潜能，建立正统的西方艺术思维，顺利实现留学梦想。INSTART拥有丰富的海外艺术院校资源，掌握第一手的院校招生信息，传递最新的艺术创意产业资讯和理念。“Create your creative future！”是一沙的教育理念。" />
    <link rel="shortcut icon" href="/content/images/logo.png" />
    <link href="/content/css/common.css" type="text/css" rel="stylesheet" />
    <link href="/content/css/main.css" type="text/css" rel="stylesheet" />
    <script src="/content/js/jquery-1.11.3.min.js" type="text/javascript"></script>
    @RenderSection("Head", required: false)
</head>

<body>
    <!--网站顶部-->
    <div class="toprel">
        <div class="toper">
            <a href="/" class="logo"><img src="/content/images/logo.png" alt="一沙国际" /></a>
            <div class="D-info">
                <dl>
                    <dt>0571-86079072</dt>
                    <dd><i><a href="/home/campus/1">杭州</a></i><i><span><a href="/home/campus/2">南京</a></span></i><span><a href="/home/campus/3">宁波</a></span></i></dd>
                </dl>
            </div>
        </div>
        <!--网站导航-->
        <div class="meun">
            <div class="nav">
                <ul class="nav-menu">
                    <li><a href="/">首页</a></li>
                    <li data-flag="student"><a href="/student">成功学员</a></li>
                    <li data-flag="teacher"><a href="/teacher">艺术导师</a></li>
                    <li data-flag="school"><a href="/school">艺术院校</a></li>
                    <li data-flag="major"><a href="/major">艺术专业</a></li>
                    <li data-flag="course"><a href="/course">艺术课程</a></li>
                    <li data-flag="about"><a href="/about">关于iNSTART</a></li>
                    <li data-flag="info"><a href="/info">艺术资讯</a></li>
                </ul>
            </div>
            <p class="here"><a href="javascript:void(0)" onclick="model()"></a></p>
        </div>
    </div>

    @RenderBody()

    <!--网站尾部-->
    <div class="bottom">
        <div class="footer maincont">
            <div class="footer-left">
                <dl>
                    <dt><a href="#"><img src="/content/images/bigin.png" alt="" /></a></dt>
                    <dd><a href="/about" style="float:left;">关于我们</a><a href="/home/recruit" style="float:right;">招贤纳士</a></dd>
                </dl>
            </div>
            <div class="footer-qcord">
                <dl>
                    <dt><img src="/content/images/qcord.png" alt="" /></dt>
                    <dd>微信公众号</dd>
                </dl>
            </div>
            <div class="footer-right">
                <dl class="adds">
                    <dt><a href="/home/campus/1">杭州校区</a></dt>
                    <dd>艮山西路102号 杭州创意设计中心 C BOX 2楼</dd>
                </dl>
                <dl class="adds">
                    <dt><a href="/home/campus/2">南京校区</a></dt>
                    <dd>南京中山南路1号 南京中心大厦42楼</dd>
                </dl>
                <dl class="adds">
                    <dt><a href="/home/campus/3">宁波校区</a></dt>
                    <dd>宁波市海曙区日新街95号 环球中心24楼</dd>
                </dl>
                <div class="foot-info">
                    <p><span class="i1">号码：0571-86079072</span></p>
                    <p><span class="i3">微博：<a href="https://weibo.com/instartedu?topnav=1&wvr=6&topsug=1&is_hot=1" target="_blank" style="color:#4d4d4d">Instart一沙</a></span></p>
                    <p><span class="i4">加入我们：hr@instartedu.com</span></p>
                    <p><span class="i4">商务合作：overseas@instartedu.com</span></p>
                </div>
            </div>
        </div>
    </div>

    <script src="/content/js/remH.js" type="text/javascript"></script>
    <script src="/content/js/index.js" type="text/javascript"></script>
    <script src="/content/js/banner.js" type="text/javascript"></script>
    <script src="/content/js/pager.js" type="text/javascript"></script>
    <script src="/content/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
    <script src="/content/js/jquery.raty.js" type="text/javascript"></script>
    <script src="/content/layer/layer.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(".banner").lubo({});

        (function () {
            //当前页导航高亮显示
            var isIndex = true;
            var href = location.href.toLowerCase();
            var $lis = $(".nav-menu").children("li");

            $.each($lis, function () {
                var nav = $(this).attr("data-flag");
                href = href.toLocaleLowerCase().replace(/\?.+/, '');
                var arr = href.split('/');
                var len = arr.length;
                if ((len >= 1 && arr[len - 1] == nav) || (len >= 2 && arr[len - 2] == nav) || (len >= 3 && arr[len - 3] == nav)) {
                    $(this).find("a").css("color", "#0000ff");
                    isIndex = false;
                    return false;
                }
            });

            if (isIndex) {
                $(".nav-menu li").eq(0).find("a").css("color", "#0000ff");
            }
        }());

        function model() {
            layer.open({
                type: 2,
                title: 'HERE & MORE',
                shadeClose: true,
                shade: 0.8,
                area: ['800px', '480px'],
                content: '/home/hereandmore' //iframe的url
            });
        }
    </script>
    @RenderSection("Bottom", required: false)
    <div style="width:100%;line-height:1.5; margin-top: -50px;margin-bottom: 30px;">
        <p style="text-align:center;">
            <span style="font-size:14px;">
                版权所有：一沙国际创意教育&nbsp;备案号：浙ICP备15003728号-1&nbsp;
                <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1274631813'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1274631813%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
            </span>
        </p>
    </div>
</body>
</html>
<script language="javascript" src="https://pft.zoosnet.net/JS/LsJS.aspx?siteid=PFT62919098&float=1&lng=cn"></script>